@*This page is to list the confirmed appointments by the nurse to proceed to a visit*@

@page "/Appointment/List/Confirmed"

@layout NurseLayout

@using HK_Clinic2.Models;
@using HK_Clinic2.Services

@inject AppointmentService Service

<h2>Confirmed Appointments</h2>
<br />
<div class="mt-2"></div>

@if (confirmedAppointments == null)
{
    <div class="d-flex align-items-center">
        <strong>Loading data ...</strong>
        <div class="spinner-border ml-auto"></div>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Appointment Date and Time</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Note</th>
                <th>Display/Add Visit</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in confirmedAppointments)
            {
                <tr>
                    <td>@item.AppointmentDateTime</td>
                    <td>@item.Reason</td>
                    <td>@item.Status</td>
                    <td>@item.Note</td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="Appointment/DetailsForNurse/@item.AppointmentId"><span class="oi oi-list"></span></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="Visit/Add/@item.AppointmentId"><span class="oi oi-plus"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    // Create a list of Appointments to be displayed in the component
    List<Appointment> confirmedAppointments = new List<Appointment>();

    protected override void OnInitialized()
    {
        // Get the Confirmed Appointments from the service
        confirmedAppointments = Service.GetConfirmedAppointments();
    }
}