@page "/About"

<h3><strong>About HK Clinic</strong></h3>
<br />  <br />  
<h4>
    HK CLinic is an application for managing the information of patients whether students or staff in a school clinic.
</h4>
<h4>
    It manages the medical records of patients, their medical history, allergies they suffer from, and much more.
</h4>
<h4>
    It also manages the appointments and visits of patients to the clinic.
</h4>

@code {

}