@*This is a page to show the account's details for the teacher layout*@

@page "/MyProfile"

@layout TeacherLayout

<div class="container">
    <h3>My Account</h3>
    <RadzenFieldset Text="Personal Details">
        <table class="table table-hover">
            <tr>
                <td>First Name:</td>
                <td>Noura</td>
            </tr>
            <tr>
                <td>Middle Name:</td>
                <td>Ahmed</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>Alghamdi</td>
            </tr>
            <tr>
                <td>National ID:</td>
                <td>2151584164</td>
            </tr>
            <tr>
                <td>Mobile Number:</td>
                <td>0565458496</td>
            </tr>
            <tr>
                <td>Date Of Birth:</td>
                <td>01/01/1965</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>Noura@@gmail.com</td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>Employee</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>Female</td>
            </tr>
            <tr>
                <td>Language:</td>
                <td>English</td>
            </tr>
            <tr>
                <td>Level of Risk:</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>Al Tahlia Street</td>
            </tr>
            <tr>
                <td>Photo:</td>
                <td>picture.png</td>
            </tr>
        </table>
        <div class="mt-4"></div>
    </RadzenFieldset>
</div>