@*This page provides contact information to the user*@

@page "/ContactUs"

<h3><strong>Contact Us</strong></h3>
<br />  <br />  
<h4>
    Email: HKClinic@@example.com
</h4>
<h4>
    Phone: +966 50 000 0000
</h4>

@code {

}
