@page "/Dashboard"

@layout NurseLayout

<h2>Dashboard</h2>

<h3>Date and Time: @DateTime.Now</h3>

<div>
    <h4>Today's Patients</h4>
    <h4>Today's Appointments</h4>
    <h4>Today's Visits</h4>
</div>