@*This page is to show the frequently asked questions to help the user*@

@page "/Help"

<h3><strong>Help/ FAQs:</strong></h3>
<br />  <br />  
<h4>
    How can I register?
</h4>
<h4>
    The account is created and the username and password is preset by the admin.
</h4>

@code {

}