@page "/"

@layout MainLayout

@using HK_Clinic2.Models

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="container-fluid" align="center">

    <h3><strong>Welcome to HK Clinic</strong></h3>
    <br />
    <h5>Please enter your username and password to Log in</h5>

    <div>
        <EditForm Model="db.User">
            <RadzenFieldset Text="Login" class="col-4">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="username">Username:*</label>
                    <InputText type="text" id="username" name="username" @bind-Value="@username" class="form-control" Placeholder="Enter your username"></InputText>
                    <div class="invalid-feedback">
                        Please enter a username.
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password:*</label>
                    <InputText type="password" id="password" name="password" @bind-Value="@password" class="form-control" Placeholder="Enter your password"></InputText>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <div>
                    <label style="color:red; font:smaller">@message</label>
                </div>
                <br />
                <div>
                    <button type="submit" class="btn btn-outline-primary" @onclick="LoginButtonClicked">Log in</button>
                </div>
            </RadzenFieldset>
        </EditForm>
    </div>
</div>

@code {

    HKClinicDbContext db = new HKClinicDbContext();

    private List<User> usersList;
    private List<Nurse> nursesList;
    private List<Teacher> teachersList;

    int userId;
    string username;
    string password;
    int type;
    string message;
    //bool found = false;
    string nurseName;
    string teacherName;

    protected void LoginButtonClicked()
    {
        usersList = db.User.Where(c => c.Username == username && c.Password == password).ToList();

        if (usersList.Count != 0)
        {
            type = usersList[0].Type;
            userId = usersList[0].UserId;

            if (type == 1)
            {
                nursesList = db.Nurse.Where(c => c.UserId == userId).ToList();
                nurseName = nursesList[0].EmployeeId.ToString();

                //navigationManager.NavigateTo($"/Visit/List/{nurseName}");
                navigationManager.NavigateTo($"/Dashboard");

            }
            else if (type == 2)
            {
                teachersList = db.Teacher.Where(c => c.UserId == userId).ToList();
                teacherName = teachersList[0].EmployeeId.ToString();

                navigationManager.NavigateTo($"/Appointment/List");
            }
        }
        else
            message = "Invalid username or password";
    }


}