@page "/Visit/Add"

@layout NurseLayout

@using HK_Clinic2.Models
@using HK_Clinic2.Services

@inject VisitService Service
@inject PatientService PService
@inject NavigationManager NavigationManager


<div class="container">
    <h3>Add a Visit</h3>
    <RadzenFieldset Text="Add a Visit">
        <EditForm Model="visit" OnValidSubmit="CreateVisit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="col-4">
                <label for="VisitDateTime">Visit Date and Time:*</label>
                <input type="datetime-local" id="VisitDateTime" class="form-control" @bind-value="visit.VisitDateTime" />
            </div>
            <br />
            <div class="col-4">
                <label for="patientId">Patient ID:*</label>
                <InputSelect class="form-control" id="patientId" @bind-Value="visit.PatientId">
                    @foreach (var patient in patients)
                    {
                        <option value="@patient.PatientId">@patient.StudentId</option>
                    }
                </InputSelect>
            </div>
            <br />
            <div class="col-4">
                <label for="assessment">Assessment:*</label>
                <InputSelect class="form-control" id="assessment" @bind-Value="visit.Assessment">
                    @foreach (var assessment in Enum.GetValues(typeof(PatientAssessment)))
                    {
                        <option value="@assessment">@assessment</option>
                    }
                </InputSelect>
            </div>
            <br />
            <div class="form-group">
                <label for="treatment">Treatment:* </label>
                <InputTextArea class="form-control" id="treatment" rows="3" @bind-Value="treatment.Description"></InputTextArea>
            </div>
            <div class="form-group">
                <label for="note">Note: </label>
                <InputTextArea class="form-control" id="note" rows="3" @bind-Value="visit.Note"></InputTextArea>
            </div>

            <label>Visit Status: </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="status" value="option1" checked>
                <label class="form-check-label" for="status">
                    Completed
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="status2" value="option2">
                <label class="form-check-label" for="status2">
                    Incomplete
                </label>
            </div>
            <div class="mt-4"></div>
            <button type="submit" class="btn btn-outline-primary">Add Visit</button>
            <a href="Visit/List" class="btn btn-outline-secondary" role="button">Cancel</a>
        </EditForm>
    </RadzenFieldset>
</div>

@code {
    Visit visit = new Visit();
    Treatment treatment = new Treatment();

    List<Patient> patients = new List<Patient>();

    private void CreateVisit()
    {
        Service.AddVisit(visit);

        // To empty the form
        visit = new Visit();

        // May navigate to the Visit/List component
        NavigationManager.NavigateTo("Visit/List");
    }
}