@*This is a page to show the account's details*@

@page "/MyProfile"

@layout TeacherLayout

<RadzenFieldset Text="Personal information">
    <div class="form-row">
        <div class="form-group">
            <label class="col">First Name:</label>
            <label class="col">Noura</label>

            <label class="col">Middle Name:</label>
            <label class="col">Ahmed</label>

            <label class="col">Last Name:</label>
            <label class="col">Alghamdi</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label class="col">National ID:</label>
            <label class="col">2151584164</label>

            <label class="col">Mobile Number:</label>
            <label class="col">0565458496</label>

            <label class="col">Date Of Birth:</label>
            <label class="col">01/01/1965</label>

            <label class="col">Email:</label>
            <label class="col">Noura@@gmail.com</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Type:</label>
            <label>Employee</label>
        </div>

        <div class="form-group col">
            <label>Gender:</label>
            <label>Female</label>
        </div>

        <div class="form-group col">
            <label>Language:</label>
            <label>English</label>
        </div>
        <div class="form-group col">
            <label>Level of Risk:</label>
            <label>Low</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label>Address:</label>
            <label>Al Tahlia Street</label>
        </div>
    </div>
    <div class="file-field">
        <label for="Photo">Photo:</label>
        <br />
        <div class="btn btn-primary btn-sm float-left">
            <span>Choose file</span>
            <input type="file">
        </div>
        <br />
    </div>
</RadzenFieldset>