@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4">
        <a href="/About" target="_blank">About</a>
        <a href="/ContactUs" target="_blank">Contact Us</a>
        <a href="/Help" target="_blank">Help</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<RadzenDialog />
<RadzenNotification />

@*<footer>2020 All Rights Reserved</footer>*@