@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <label style="color:red">Hello @nurseName</label>

        <a href="/About" target="_blank">About</a>
        <a href="/ContactUs" target="_blank">Contact Us</a>
        <a href="/Help" target="_blank">Help</a>

        <div>
            <RadzenProfileMenu>
                <Template>
                    <RadzenGravatar Email="user@example.com">
                    </RadzenGravatar>
                </Template>
                <ChildContent>
                    <RadzenProfileMenuItem Text="My account" Path="/Account" Icon="account_circle"></RadzenProfileMenuItem>
                    @*<RadzenProfileMenuItem Text="Setting" Path="/Settings" Icon="line_weight"></RadzenProfileMenuItem>*@
                </ChildContent>
            </RadzenProfileMenu>
        </div>    
    </div>

    <div class="content px-4">
        @Body
        <RadzenDialog />
        <RadzenNotification />
    </div>
</div>

@code {
    [Parameter]
    public int nurseName { get; set; }

}