@inherits LayoutComponentBase

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <img src="/css/Pictures/Logo.png" alt="Logo" width="75" height="50">
        <a class="navbar-brand" href="">HK Clinic</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Appointment/List" Match="NavLinkMatch.All">
                    <span class="oi oi-clock"></span> Appointments
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        <label style="color:red">Hello @teacherName</label>

        <a href="/About" target="_blank">About</a>
        <a href="/ContactUs" target="_blank">Contact Us</a>
        <a href="/Help" target="_blank">Help</a>
        <div>
            <RadzenProfileMenu>
                <Template>
                    <RadzenGravatar Email="user@example.com">
                    </RadzenGravatar>
                </Template>
                <ChildContent>
                    <RadzenProfileMenuItem Text="My account" Path="/Account" Icon="account_circle"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Text="Log out" Path="/" Icon="power_settings_new"></RadzenProfileMenuItem>
                    @*<RadzenProfileMenuItem Text="Settings" Path="/Settings" Icon="line_weight"></RadzenProfileMenuItem>*@
                </ChildContent>
            </RadzenProfileMenu>
        </div>

    </div>

    <div class="content px-4">
        @Body
        <br />
        <footer class="footer-main-layout1" style="text-align:center; bottom:0; position:fixed; align-self:center;">
            <p style=" color: black;">
                <span class="material-icons">copyright</span>
                2020 All Rights Reserved
            </p>
        </footer>
    </div>
</div>

<RadzenDialog />
<RadzenNotification />

@code {
    [Parameter]
    public string teacherName { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
